<div class="container">
  <body background="http://www.hdwallpapers3d.com/wp-content/uploads/2013/04/Beautiful-Horse-horses-22410583-1280-800.jpg">
  <h1>Create an account to enjoy the coolest blog in the world!</h1>

<form action="/create_account_submit" method="get">
<label for="email">Email: </label>
<input id="email" name="email" >
<label for="password">Password: </label>
<input id="password" name="password" >
  <input type="submit" value="Create Account">
</form>
</div>
