<div class="container">
  <body background="http://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Desert_de_Retz_Grass.jpg/800px-Desert_de_Retz_Grass.jpg">
    <% user = User.find_by_id(session[:id]) %>
  <h1>Welcome <%=user.email %> to the coolest blog in the world!</h1>
  <h2>Here are your most active tags</h2>
  <% tags = [] %>
  <% post = user.posts %>
  <% post.each do |post| %>
  <% post.tags.each do |tag|%>
      <%tags << tag.name%>
  <%end %>
  <%end %>
  <% tags.uniq.each do |tag| %>
  <p><a href="/tag/<%=tag %>"><%=tag %></a></p>
  <%end %>


<form action="/ep" method="get">
  <input type="submit" value="Enter New Post">
</form>

<p>
<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form></p>
</div>


